<form action="/index.php/home/user/save" method="post">
    <input type="text" name="id" id="id"/>
    <input type="text" name="name" id="name"/>
    <button type="submit">↑↑↑</button>
    <input type="button" onclick="ajax_submit()" value="ajax↑↑↑">
</form>

<script>
    function ajax_submit() {
        $.post(
            "/index.php/Home/user/save",
            {
                id: $('#id').val(),
                name: $('#name').val()
            },
            function (data) {
                if (data.key === 'success') {
                    console.info(data);
                }
                else if(data.key === 'error'){
                    console.error(data);
                }
            }
        );
    }
</script>